_configtest.o.d
cover/

build
dist/
tags

*.png
/*.egg-info
*.so
*.c
*.cpp
*.sln
*~
*.pdf
.#*
*.lprof
*.swp
*.swo
.DS_Store
*.tar.gz
*.tgz
*.nt.bz2
*.prof
*.prefs
.idea
.vscode
*.csv

.coverage
.ipynb_checkpoints/
.pytest_cache/
.cache/